.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 1.5em 0;
    width: 100%;
}
.linkedin, .git{
    color: rgba(0, 0, 0, 0.65);
    font-size: 40px;
    margin: 15px;
}
.linkedin:hover{
    color: #0077b5;
    transition: 0.5s;
}
.git:hover{
    color: black;
    transition: 0.5s;
}

@media (max-width: 450px){
    .linkedin, .git{
        font-size: 20px;
        margin: 5px;
    }
}

@media (max-width: 700px) {
    .linkedin, .git{
        font-size: 30px;
        margin: 5px;
    }
}
@media(min-width:1020px) and (max-width:1025px){
    .linkedin, .git{
        font-size: 30px;
        margin: 5px;
    }
}